.myform {
    margin: 20px 40px;
}

.my-filter {
    width: 30%;
    margin-top: 30px;
    margin-left: 40px;
    // color: #18AAB4;
}

.edit-btn {
    color: blue;
}

.del-btn {
    color: red;
}

.com-text {
    color: red !important;
}

.pen-text{
    color: green !important;
}

.my-row {
    background-color: #18AAB4;

    th {
        color: white;
    }
}
// #htmlData{
//     background-color: #38acec;
//     padding: 10px 30px;
//     border: none;
//     border-radius: 5px;
//     margin-left: 30px;
//     color: white;
// }
.p-btn{
    background-color: #38acec;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    color: white;
}