body {
    background-color: #d7d6d3;
    font-family: 'verdana';
    height: 100vh;
}
.triangle1 {
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    left: -322px;
    right: 0px;
    top: 66px;
    bottom: 0;
    margin: 50px auto;
    border-radius: 5px;
}

.top-left1 {
    border-top: 70px solid #EF751B;
    border-right: 100px solid transparent;
    position: absolute;
    top: 0%;
    left: 41%;
}

.bottom-right1 {
    border-bottom: 70px solid #EF751B;
    border-left: 100px solid transparent;
    margin-left: 10px;
    position: absolute;
    right: 41%;
    bottom: 0%;
}

.id-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    outline: 0.5rem solid gold;
    outline-offset: 0.5rem;
    width: 300px;
    height: 500px;
}

.line {
    border-top: 1px solid rgb(77, 63, 28);
}
.hr-line{
    margin-bottom: 10px;
}

.id-card img {
    margin: 0 auto;
}

.header img {
    width: 200px;
    margin-top: -50px;
}

.photo img {
    width: 100px;
    margin-top: 15px;
}

h2 {
    font-size: 15px;
    margin: 3px 0;
}

@media print {
    .top-left1 {
        left: 22%;
    }

    .bottom-right1 {
        right: 22%;
    }
}

h3 {
    font-size: 15px;
    margin: 2.5px 0;
    font-weight: 300;
}

.qr-code img {
    width: 140px;
    height: 40px;
}

p {
    font-size: 12px;
    margin: 2px;
}

.input {
    display: flex;
    flex-direction: column;
    margin-left: 70%;
    margin-top: -32%;
    width: 300px;
}
.bg{
    background-color: #EF751B !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.printBtn1{
    position: absolute;
    top: 12%;
    left: 28%;
}
@media print {
    .input {
        display: none !important;
    }

    .printBtn1 {
        display: none !important;
    }
    .triangle1{
        left: 20px;
        top: 66px;
    }
    .top-left1 {
        left: 29%;
    }
    
    .bottom-right1 {
        right: 29%;
    }
}